#eclipse data files

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.log
*.log
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.xmi
.metadata/.plugins/org.eclipse.dltk.core/cache/index
*.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ExampleProject/.indexes/35/28/f0/96/history.index
*.log
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
*.gen
.metadata/version.ini
*.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
*.xmi
.metadata/.plugins/org.eclipse.dltk.core/cache/index
*.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ExampleProject/.indexes/35/28/f0/96/history.index